numpy
scipy
torch
sklearn
transformers

tqdm
joblib

matplotlib
seaborn
networkx

beautifulsoup4
email_reply_parser
cchardet

spacy
stanza
rake_nltk
gensim

rdflib


# native packages
os
pickle
http
multiprocessing
json
re
html
logging
pkg_resources
time
datetime
collections
email
dateutil
urllib
itertools
warnings
importlib
functools
